<div class="statement-card-wrapper">
    <div class="accountslist-actions-css">
        <div class="mTop-7px">
            <mat-label class="font-weight-500">Profit Loss</mat-label>
        </div>
        <div class="mTop-7px">
            <form [formGroup]="profitLossForm" #formGroupDirective="ngForm">
                <mat-form-field *ngIf="accountType!='User'">
                    <mat-label>Search By Client Name</mat-label>
                    <input type="text" matInput formControlName="clientName" [matAutocomplete]="clientNameAuto">
                    <mat-autocomplete #clientNameAuto="matAutocomplete">
                        <mat-option *ngFor="let name of options | async" [value]="name">
                            {{name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="margin-left-25">
                    <mat-label>From</mat-label>
                    <input matInput formControlName="fromDate" (click)="fromDate.open()" [matDatepicker]="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="margin-left-25">
                    <mat-label>To</mat-label>
                    <input matInput formControlName="toDate" (click)="toDate.open()" [matDatepicker]="toDate">
                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                    <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
                <div class="float-right">
                    <button mat-raised-button class="marginLt-5px" color="warn" id="printpagebutton"
                        (click)="onDownload('ProfitLoss','pdf')">
                        <i class="fa fa-download" aria-hidden="true"></i> PDF
                    </button>
                    <button mat-raised-button color="primary" class="marginLt-5px"
                        (click)="onDownload('ProfitLoss','excel')">
                        <i class="fa fa-download" aria-hidden="true"></i> Excel
                    </button>
                    <button type="button" [disabled]="!profitLossForm.valid" class="marginLt-5px" mat-raised-button
                        color="primary" (click)="onLoadRecordsClick()">Load</button>
                </div>
            </form>
        </div>
    </div>
    <div class="margin-top-20">
        <app-data-table [rows]="tableRows" [columns]="tableColumns" [totalRecordsCount]="totalRecords"
            (pageEvent)="pageEventChange($event)">
        </app-data-table>
    </div>
    <mat-spinner *ngIf="loading$ | async" [diameter]="150" class="mat-spinner-position"></mat-spinner>
</div>