<h1 mat-dialog-title>
  Security Check
  <span class="material-icons close-btn" mat-dialog-close>
      cancel
  </span>
</h1>
<mat-dialog-content class="mat-typography  mat-content-wrapper">
  <div>
    <span class="status-label-css">Please Enter Master Password</span>
    <mat-form-field class="full-width-input">
      <input matInput type="password" placeholder="Password" [(ngModel)]="data.password" required>
      <mat-error>
        Please provide a valid password
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="actions-alignment">
  <button mat-raised-button color="warn" mat-dialog-close>
    Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="onSubmit()">Submit <i class="fa fa-floppy-o
    " aria-hidden="true"></i></button>
</mat-dialog-actions>