mat-form-field {
  width: 100%;
}

.close-btn {
  margin-top: 5px;
  float: right;
  cursor: pointer;
}

.label-css {
  display: inline-block;
  width: 30%;
  font-size: 15px;
  font-weight: 500;
}

.status-label-css {
  width: 50%;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.value-css {
  display: inline-block;
  width: 50%;
}

.control-css {
  display: inline-block;
  width: 70%;
}

.mat-content-wrapper {
  width: 500px;
}

.balance-wrapper {
  width: 360px;
}

.actions-alignment {
  display: flex;
  justify-content: space-between;
}
