<div class="card-alignment-css ht-100vh">
    <mat-card class="mat-content-wrapper">
        <h1 mat-dialog-title>Mandatory Password Change</h1>
        <mat-card-content>
            <form [formGroup]="mandatoryPasswordChangeForm">
                <div class="margin-bottom-20">
                    <span class="label-css">New Password</span>
                    <mat-form-field class="control-css">
                        <div class="eye-test-allignment">
                            <input matInput [type]="showPassword ? 'text':'password'" formControlName="newPass" />
                            <mat-icon class="cursor-pointer" (click)="showPassword=!showPassword">
                                {{showPassword ? 'visibility':'visibility_off'}}
                            </mat-icon>
                        </div>
                        <mat-error *ngIf=" mandatoryPasswordChangeForm.get('newPass').invalid">
                            {{getErrorMessage('newPass')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="margin-bottom-25">
                    <span class=" label-css">Confirm Password</span>
                    <mat-form-field class="control-css">
                        <div class="eye-test-allignment">
                            <input matInput [type]="showConfirmPassword ? 'text':'password'"
                                formControlName="confirmPass" />
                            <mat-icon class="cursor-pointer" (click)="showConfirmPassword=!showConfirmPassword">
                                {{showConfirmPassword ? 'visibility':'visibility_off'}}
                            </mat-icon>
                        </div>
                        <mat-error *ngIf=" mandatoryPasswordChangeForm.get('confirmPass').invalid">
                            {{getErrorMessage('confirmPass')}}
                        </mat-error>
                        <mat-hint class="text-red"
                            *ngIf="mandatoryPasswordChangeForm.get('newPass').valid && mandatoryPasswordChangeForm.get('confirmPass').valid
                                && mandatoryPasswordChangeForm.value.newPass != mandatoryPasswordChangeForm.value.confirmPass">
                            Password and Confirm password field value doesn't match.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <div class="display-flex-spacebetween">
            <button type="button" mat-raised-button color="warn" (click)=onResetClick()>
                Reset</button>
            <button type="button"
                [disabled]="!mandatoryPasswordChangeForm.valid || mandatoryPasswordChangeForm.get('newPass').valid && mandatoryPasswordChangeForm.get('confirmPass').valid
                                && mandatoryPasswordChangeForm.value.newPass != mandatoryPasswordChangeForm.value.confirmPass"
                mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </div>
        <mat-spinner *ngIf="loading$ | async" class="mat-spinner-position"></mat-spinner>
    </mat-card>
</div>